body {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 20px;
}
canvas {
  width: 100%;
  height: 100%;
  background-color: #eee;
}
.vertical-align {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.table-bordered {
  background-color: #fff;
  text-align: center;
}
.btn {
  margin: 0 5px;
}
td {
  min-width: 40px;
}
td.head {
  text-align: center;
  min-width: 130px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea,
max-width: 280px,
.field-validation-error {
  color: #b94a48;
}
.field-validation-valid {
  display: none;
}
input.input-validation-error {
  border: 1px solid #b94a48;
}
input[type="checkbox"].input-validation-error {
  border: 0 none;
}
.validation-summary-errors {
  color: #b94a48;
}
.validation-summary-valid {
  display: none;
}
