extends layout

block content
  h2 #{title}
  .container(style="padding-bottom: 50px")
    .row
      .col-sm-6
        h2 Key
      .col-sm-5
        h2 Action
    .row
      .col-sm-3
        h3 Left Mousebutton
      .col-sm-1
        h3 +
      .col-sm-2 
        div 
          span( class="glyphicon glyphicon-arrow-left", aria-hidden="true", style="padding: 23px 5px 0px 5px") 
          span( class="glyphicon glyphicon-arrow-right", aria-hidden="true", style="padding: 23px 5px 0px 5px" )
      .col-sm-4
        h3 Rotate object around y-Axis.
    .row
      .col-sm-3
        h3 Left Mousebutton
      .col-sm-1
        h3 +
      .col-sm-2 
        div 
          span( class="glyphicon glyphicon-arrow-up", aria-hidden="true", style="padding: 23px 5px 0px 5px") 
          span( class="glyphicon glyphicon-arrow-down", aria-hidden="true", style="padding: 23px 5px 0px 5px" )
      .col-sm-4
        h3 Rotate object around x-Axis.
    .row
      .col-sm-3
        h3 middle Mousebutton
      .col-sm-1
        h3 +
      .col-sm-2 
        div 
          span( class="glyphicon glyphicon-arrow-left", aria-hidden="true", style="padding: 23px 5px 0px 5px") 
          span( class="glyphicon glyphicon-arrow-right", aria-hidden="true", style="padding: 23px 5px 0px 5px" )
      .col-sm-4
        h3 Rotate object around z-Axis.
    .row
      .col-sm-3
        h3 right Mousebutton
      .col-sm-1
        h3 +
      .col-sm-2 
        div 
          span( class="glyphicon glyphicon-arrow-left", aria-hidden="true", style="padding: 23px 5px 0px 5px") 
          span( class="glyphicon glyphicon-arrow-right", aria-hidden="true", style="padding: 23px 5px 0px 5px" ) 
          span( class="glyphicon glyphicon-arrow-up", aria-hidden="true", style="padding: 23px 5px 0px 5px")
          span( class="glyphicon glyphicon-arrow-down", aria-hidden="true", style="padding: 23px 5px 0px 5px" )
      .col-sm-4
        h3 move camera