extends layout

block content
  script(type='text/javascript').
    var uploadModelInput;
    function onButtonJoinClicked() {
      sessionStorage.setItem('uploadModelName', document.getElementById('uploadModel').value);
      console.log("uploadModelInput: " + sessionStorage.getItem('uploadModelName') );
      window.location.href = '/model';
    }
  .jumbotron
    h1 WebGL-Joint 3D-Model Viewer
    h2 Chose your connection
  .container
    .row.vertical-align
      .col-sm-3 
        h3.vertical-align Connection 1 
      .col-sm-3
        button.btn.btn-primary( onclick='onButtonJoinClicked()', role="button" ) Join  
      .col-sm-2
      .col-sm-4
        label( for="uploadModel") Load model (default cube):
          input.form-control( type="file", accept=".obj", id="uploadModel")