doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title}
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    script(src='/javascripts/modernizr-2.6.2.js')    
    script(src='/javascripts/jquery-1.10.2.js')
    //script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/respond.js')
    
    
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/') Hub
            li
              a(href='/model') Model-View
            li
              a(href='/help') Help
    .container.body-content
      block content
    .container
      footer
        p &copy; #{year} - WebGL-Server 
        #message
        #debug