﻿extends layout

block content
  .row
    .col-sm-8
      button.btn.btn-primary( onclick='onResetButtonClicked()', role="button") Reset View 
      button.btn.btn-primary.button-style( onclick='onAmbientLightButtonClicked()', role="button" ) Toggle ambient light 
      button.btn.btn-primary( onclick='onDirectionalLightButtonClicked()', role="button" ) Toggle directional light 
    .col-sm-4
      table.table-bordered
        tr
          th axis
          td x
          td y
          td z
        tr
          th object rotation in °
          td#td-1-1           
          td#td-1-2
          td#td-1-3
        tr
          th camera position
          td#td-2-1
          td#td-2-2
          td#td-2-3
  .row
    //script(src='/javascripts/DDSLoader.js')
    //script(src='/javascripts/MTLLoader.js')
    //script(src='/javascripts/OBJLoader.js')
    //script(src='/javascripts/Detector.js')
    script(src='/javascripts/stats.js')
    //script(src='/javascripts/threejs/math/Matrix4.js')
    script(src='/javascripts/three.min.js')
    //script(src='/javascripts/three.js')
    script(src='/javascripts/model.js')  